<form action="{% if action %}{{ action }}{% else %}.{% endif %}" {% if form_id %}id="{{ form_id }}"{% endif %} method="{% if method %}{{ method }}{% else %}post{% endif %}" {% if multipart %}enctype="multipart/form-data"{% endif %} class="pure-form {% if aligned %}pure-form-aligned{% else %}pure-form-stacked{% endif %}{% if form_class %} {{ form_class }}{% endif %}">
  {% if not no_token %}
    {% csrf_token %}
  {% endif %}
  {% if form.non_field_errors %}
    {{ form.non_field_errors }}
  {% endif %}
  <fieldset>
    {% if legend %}
      <legend>{{ legend }}</legend>
    {% endif %}
    {% for field in form.visible_fields %}
      {% include '_form_field.html' with field=field %}
    {% endfor %}
    {% if formset %}
      {{ formset.management_form }}
    {% endif %}
    {% for formset_form in formset %}
      <legend>
        {{ formset_legend }}
        {% if formset_add %}
          {{ forloop.counter|add:formset_add }}:
        {% else %}
          {{ forloop.counter }}:
        {% endif %}
      </legend>
        {% for field in formset_form.visible_fields %}
        {% include '_form_field.html' with field=field %}
        {% endfor %}
      {% for hidden in formset_form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
    {% endfor %}
    <div class="pure-controls">
      <p>
        <input type="submit" value="{% if submit %}{{ submit }}{% else %}Submit{% endif %}" class="pure-button pure-button-primary" />
      </p>
    </div>
  </fieldset>
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
  {% endif %}
</form>
