<form action="." method="post" {% if multipart %}enctype="multipart/form-data"{% endif %} class="pure-form {% if aligned %}pure-form-aligned{% else %}pure-form-stacked{% endif %}">
  {% csrf_token %}
  {% if form.non_field_errors %}
    {{ form.non_field_errors }}
  {% endif %}
  <fieldset>
    {% if legend %}
      <legend>{{ legend }}</legend>
    {% endif %}
    {% for field in form %}
      <div class="pure-control-group">
        {% if field.label %}
          <label for='{{ field.id_for_label }}'>{{ field.label }}{% if field.help_text %} - {{ field.help_text }}{% endif %}:</label>
        {% endif %}
        {% if aligned %}
          {{ field }}
        {% endif %}
        {% for error in field.errors %}
          <span class="errorlist"><mark>{{ error }}</mark></span>
        {% endfor %}
        {% if not aligned %}
          {{ field }}
        {% endif %}
      </div>
    {% endfor %}
    <div class="pure-controls">
      <p>
        <input type="submit" value="{% if submit %}{{ submit }}{% else %}Submit{% endif %}" class="pure-button pure-button-primary" />
      </p>
    </div>
  </fieldset>
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
  {% endif %}
</form>
