<form action="." method="post" {% if multipart %}enctype="multipart/form-data"{% endif %} class="pure-form pure-form-stacked">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <fieldset>
    {% if legend %}
      <legend>{{ legend }}</legend>
    {% endif %}
    {% for field in form %}
      <div class="pure-control-group">
        <label for='{{ field.id_for_label }}'>{{ field.label }}{% if field.help_text %} {{ field.help_text }}{% endif %}:</label>
        {% for error in field.errors %}
          <aside class="pure-help-inline">{{ error }}</aside>
        {% endfor %}
        {{ field }}
      </div>
    {% endfor %}
    <div class="pure-controls">
      <p>
        <input type="submit" value="{% if submit %}{{ submit }}{% else %}Submit{% endif %}" class="pure-button pure-button-primary" />
      </p>
    </div>
  </fieldset>
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
  {% endif %}
</form>
