{# simple base.html #}
{% load staticfiles %}
<html>
  <head>
    <title>
      {% block title %}
        This is the base template (please add a 'title' block)
      {% endblock title %}
      {% block sub_title %}
        This is the base template (please add a 'sub_title' block)
      {% endblock sub_title %}
    </title>
    {% block stylesheets %}
      <link rel="stylesheet" href="{% static "pure-min.css" %}">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
      <link rel="stylesheet" href="{% static 'base/css/side-menu.css' %}">
      <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
      <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    {% endblock stylesheets %}
    <link rel="shortcut icon" href="{% static "ico/favicon.ico" %}">
  </head>
  <body>
    <div id="layout">
      <!-- Menu toggle -->
      <a href="#menu" id="menuLink" class="pure-menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>
      <div id="menu">
        <div class="pure-menu pure-menu-open">
          <a class="pure-menu-heading" href="{% url 'project.home' %}">Home</a>
          <ul>
            {% block menu %}
            {% endblock menu %}
            {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>

      <div class="pure-g-r">
        {% block header %}
          <div class="pure-u-1 hero">
            <h1>
              {% block heading %}
                This is the base template (please add a 'heading' block)
              {% endblock heading %}
            </h1>
            <h2>
              {% block sub_heading %}
                This is the base template (please add a 'sub_heading' block)
              {% endblock sub_heading %}
            </h2>
          </div>
        {% endblock header %}




        <div id="main" class="pure-u-1">
          <div class="content">
            {% if messages %}
              <div class="pure-g-r">
                <div class="pure-u-1">
                  <aside>
                    {% for message in messages %}
                      <p>{{ message }}</p>
                    {% endfor %}
                  </aside>
                </div>
              </div>
            {% endif %}
            {% block content %}
              <p>This is the base template (please add a 'content' block)</p>
            {% endblock content %}
            <br />
          </div>
        </div>



        <div class="pure-u-1">
          {% block footer %}
            <p>This is the base template (please add a 'footer' block)</p>
          {% endblock footer %}
        </div>



      </div>
    </div>
    {% block script %}
      <script src="{% static 'base/js/ui.js' %}"></script>
    {% endblock script %}
    {% block analytics %}
    {% endblock analytics %}
  </body>
</html>
