{# simple base.html #}
{% load staticfiles %}
<html>
  <head>
    <title>
      {% block title %}
        This is the base template (please add a 'title' block)
      {% endblock title %}
      {% block sub_title %}
        This is the base template (please add a 'sub_title' block)
      {% endblock sub_title %}
    </title>
    {% block stylesheets %}
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
      <link rel="stylesheet" href="{% static "base.css" %}">
      <link rel="stylesheet" href="{% static "main.css" %}">
      <script src="http://use.typekit.net/ajf8ggy.js"></script>
      <script>
        try { Typekit.load(); } catch (e) {}
      </script>
    {% endblock stylesheets %}
  </head>
  <body>
    <div id="layout" class="pure-g-r">
      <a class="pure-menu-link" id="menuLink" href="#menu">
        <img width="20" alt="Menu toggle" src="{% static "navicon-png2x.png" %}">
      </a>
      <div id="menu" class="pure-u">
        <div class="pure-menu pure-menu-open">
          <a href="{% url "project.home" %}" class="pure-menu-heading">Home</a>
          <ul>
            {% block menu %}
            {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            {% endblock menu %}
          </ul>
        </div>
      </div>

      <div id="main" class="pure-u-1">
        {% block header %}
          <div class="hero">
            <h1 class="pure-u-1">
              {% block heading %}
                Base
              {% endblock heading %}
            </h1>
            <h2 class="pure-u-3-4 l-centered">
              {% block sub_heading %}
                This is the base template (please add a 'header' block)
              {% endblock sub_heading %}
            </h2>
          </div>
        {% endblock header %}
        {% block content %}
          <p>This is the base template (please add a 'content' block)</p>
        {% endblock content %}
        {% block footer %}
          <p>This is the base template (please add a 'footer' block)</p>
        {% endblock footer %}
      </div>
    </div>
    <script src="{% static "ui.js" %}"></script>
  </body>
</html>
