{# simple base.html #}
{% load staticfiles %}
<html>
  <head>
    <title>
      {% block title %}
        This is the base template (please add a 'title' block)
      {% endblock title %}
      {% block sub_title %}
        This is the base template (please add a 'sub_title' block)
      {% endblock sub_title %}
    </title>
    {% block stylesheets %}
      <link rel="stylesheet" href="{% static "pure-min.css" %}">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
      <link rel="stylesheet" href="{% static "main.css" %}">
      <link rel="stylesheet" href="{% static "home.css" %}">
      <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    {% endblock stylesheets %}
    <link rel="shortcut icon" href="{% static "ico/favicon.ico" %}">
  </head>
  <body>
    <div id="layout" class="pure-g-r">
      <a class="pure-menu-link" id="menuLink" href="#menu">
        <img width="20" alt="Menu toggle" src="{% static "navicon-png2x.png" %}">
      </a>
      <div id="menu" class="pure-u">
        <div class="pure-menu pure-menu-open">
          <a href="{% url "project.home" %}" class="pure-menu-heading">Home</a>
          <ul>
            {% block menu %}
            {% endblock menu %}
            {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>

      <div id="main" class="pure-u-1">
        {% block header %}
          <div class="hero">
            <h1 class="pure-u-1">
              {% block heading %}
                This is the base template (please add a 'heading' block)
              {% endblock heading %}
            </h1>
            <h2 class="pure-u-3-4 l-centered">
              {% block sub_heading %}
                This is the base template (please add a 'sub_heading' block)
              {% endblock sub_heading %}
            </h2>
          </div>
        {% endblock header %}

        <div class="content">
          {% if messages %}
            <div class="pure-g-r">
              <div class="pure-u-1">
                <aside>
                  {% for message in messages %}
                    <p>{{ message }}</p>
                  {% endfor %}
                </aside>
              </div>
            </div>
          {% endif %}
          {% block content %}
            <p>This is the base template (please add a 'content' block)</p>
          {% endblock content %}
          <br />
          {% block footer %}
            <p>This is the base template (please add a 'footer' block)</p>
          {% endblock footer %}
        </div>
      </div>
    </div>
    <script src="{% static "ui.js" %}"></script>
    {% block analytics %}
    {% endblock analytics %}
  </body>
</html>
