#filedrop-zone {
    height: 110px;
    border: 2px dashed rgba(31,141,214,1);
    border-radius: 20px;
    text-align: center;
    position: relative;
    line-height: 60px;
    font-size: 1em;
    color: rgba(119, 119, 119, 1);
}

#filedrop-zone input {
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 0px;
    opacity:0;
}

#filedrop-zone.mouse-over {
    border: 2px solid rgba(0,0,0,.5);
    color: rgba(0,0,0,.5);
}

#filedrop-click-here {
    position: absolute;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    line-height: normal;
    width: auto;
    padding: 0.5em 1em;
    min-width: 100px;
    height: 20px;
    border-radius: 4px;
    color: white;
    background-color: rgba(0, 120, 231, 1);
    font-size: 1em;
}

#filedrop-click-here:hover {
    background-color: #4499DD;
}
