{% if is_paginated %}
  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
      {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}">
            <i class="fa fa-backward"></i>
            Previous
          </a>
        </li>
      {% else %}
      <li class="pure-menu-disabled">
          <a href="#">
            <i class="fa fa-backward"></i>
            Previous
          </a>
        </li>
      {% endif %}
      {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}">
            Next
            <i class="fa fa-forward"></i>
          </a>
        </li>
      {% else %}
        <li class="pure-menu-disabled">
          <a href="#">
            <i class="fa fa-forward"></i>
            Next
          </a>
        </li>
      {% endif %}
      <li>
        <small>page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</small>
      </li>
    </ul>
  </div>
{% endif %}
