<!doctype html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
        This is the base template (please add a 'title' block)
      {% endblock title %}
      {% block sub_title %}
        This is the base template (please add a 'sub_title' block)
      {% endblock sub_title %}
    </title>
    {% block stylesheets %}
      <link rel="stylesheet" href="{% static 'pure-min.css' %}">
      <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static 'grids-responsive-old-ie-min.css' %}">
        <link rel="stylesheet" href="{% static 'base/css/side-menu-old-ie.css' %}">
      <![endif]-->
      <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{% static 'grids-responsive-min.css' %}">
        <link rel="stylesheet" href="{% static 'base/css/side-menu.css' %}">
      <!--<![endif]-->
      <link rel="stylesheet" href="{% static 'base/css/font-awesome/css/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'base/css/side-menu.css' %}">
      <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
      <link rel="stylesheet" href="{% static 'base/css/zebra_datepicker/metallic.css' %}" type="text/css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu" type='text/css'>
    {% endblock stylesheets %}
    <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">
  </head>
  <body>
    <div id="layout">
      <!-- Menu toggle -->
      <a href="#menu" id="menuLink" class="pure-menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>
      <div id="menu">
        <div class="pure-menu pure-menu-open">
          <a class="pure-menu-heading" href="{% url 'project.home' %}">Home</a>
          <ul>
            {% block menu %}
            {% endblock menu %}
            {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>

      <div id="main">
        {% block header %}
          <div class="header">
            <h1>
              {% block heading %}
                This is the base template (please add a 'heading' block)
              {% endblock heading %}
            </h1>
            <h2>
              {% block sub_heading %}
                This is the base template (please add a 'sub_heading' block)
              {% endblock sub_heading %}
            </h2>
          </div>
        {% endblock header %}
      </div>
      <div class="content">
        <div class="pure-g-r">
          <div id="main" class="pure-u-1">
            {% if messages %}
              <div class="pure-g-r">
                <div class="pure-u-1">
                  <aside>
                    {% for message in messages %}
                      <p>{{ message }}</p>
                    {% endfor %}
                  </aside>
                </div>
              </div>
            {% endif %}
            {% block content %}
              <p>This is the base template (please add a 'content' block)</p>
            {% endblock content %}
            <br />
          </div>
        </div>

        {% block footer %}
          <div class="pure-u-1">
            <p>This is the base template (please add a 'footer' block)</p>
          </div>
        {% endblock footer %}
      </div>
    </div>
    {% block script %}
      <script src="{% static 'base/js/jquery-1.11.0.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'base/js/ui.js' %}" type="text/javascript"></script>
      <script src="{% static 'base/js/zebra_datepicker.js' %}" type="text/javascript"></script>
      <script>
        $(document).ready(function() {
          // assuming the controls you want to attach the plugin to
          // have the "datepicker" class set
          $('input.datepicker').Zebra_DatePicker({
            format: 'd/m/Y'
          });
        });
      </script>
    {% endblock script %}
    {% block analytics %}
    {% endblock analytics %}
  </body>
</html>
